@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  margin: 0;
  font-family: "Roboto";
  background-color: #373737;
  color: whitesmoke;
}

.star-wars-font {
  text-transform: lowercase !important;
  font-family: "Star Jedi";
}

.transparent-dialog {
  background-color: transparent !important;
  box-shadow: none !important;
}

.acx-overlay-container > .pane.modal {
  background: rgba(33,33,33,.8) !important;
}

@font-face {
  font-family: 'Star Jedi';
  src: url('assets/fonts/Star Jedi.woff') format('woff'),  /*Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('assets/fonts/Star Jedi.ttf') format('truetype');  /*Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

/*
@font-face {
  font-family: 'StarJedi Special Edition';
  src: url('assets/fonts/StarJedi Special Edition.woff') format('woff'), !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!
  url('assets/fonts/StarJedi Special Edition.ttf') format('truetype'); !* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 *!
}*/